* {
    background-color: #5161F0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h1 {
    color: #E363EA;
    text-align: center;
    font-size: 75px;
    padding: 50px;
}

h2 {
    color: purple;
    font-size: 35px;
    padding: 20px;
}

body main {
    text-align: center;
}

body main p {
    font-size: 120%;
    padding: 50px;
}

span {
    text-decoration: underline;
}

button {
    margin: 10px;
    text-decoration: solid;
    background-color: green;
    padding: 12px 28px;
    border-radius: 12px;
    font-weight: bold;
}

button:hover {
    background-color: white;
}
